.ijseLogo{
    position: absolute;
    left: 0;
    right: 0;
    top: 5vh;
    margin: auto;
    animation: fadeIn 4s;
}

.insName {
    position: absolute;
    left: 28vw;
    top: 25vh;
    right: 0;
    bottom: 0;
    font-size: 40px;
    animation: fadeIns 8s;
}

@keyframes fadeIn {
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}


@keyframes fadeIns {
    from{
        opacity: 0;
    }

    to{
        opacity: 1;

    }
}



#imgSec{
    display: flex;
    justify-content: space-between;
    top: 65vh;
    left: 61vh;
    position: absolute;
    width: max-content;
    height: max-content;
    animation: fadeInss 9s;

}

@keyframes fadeInss {
    from{
        opacity: 0;
    }

    to{
        opacity: 1;

    }
}

#imgSec > img{
    width: 10vw;
    height: 10vw;
}

#btn{

    position: absolute;
    bottom: 46vh;
    right: 98vh;
    width: 10vw;
font-size: 20px;
    animation: fadeInsss 9s;


}
@keyframes fadeInsss {
    from{
        opacity: 0;
    }

    to{
        opacity: 1;

    }
}

#topic{
    font-family: ubuntu;
    color: red;
    font-weight: bold;
    font-size: 64px;
    left: 37vw;
    position: absolute;
}
#topic1{
    font-family: ubuntu;
    color: red;
    font-size: 30px;
    left: 42vw;
    top: 12vh;
    position: absolute;
}

#gif{
position: absolute;
    width: 30vh;
    height: 30vh;
    left: 36vh;
    top: 32vh;
}

#img{
    position: absolute;
    width: 80vh;
    height: 80vh;
    right: 67vh;
    bottom: 0vh;
}