.ijseLogo{
    position: absolute;
    left: 0;
    right: 0;
    top: 5vh;
    margin: auto;
}

.insName {
    position: absolute;
    left: 28vw;
    top: 25vh;
    right: 0;
    bottom: 0;
    font-size: 40px;
}


#imgSec{
    display: flex;
    justify-content: space-between;
    top: 65vh;
    left: 61vh;
    position: absolute;
    width: max-content;
    height: max-content;

}

#imgSec > img{
    width: 10vw;
    height: 10vw;
}

#btn{
    position: absolute;
    bottom: 46vh;
    right: 98vh;
    width: 10vw;
font-size: 20px;

}